
@{
    ViewBag.Title = "Index";
}

<h2>Добро пожаловать!</h2>
<body>
    <img src="~/autors.png"/>
    <br />
    <h4>
        На этом сайте вы сможете вести учет заказов, аукционов и отгрузок.

        Чтобы добавить новый заказ нужно сначала во вкладке "Выбрать файл тендеров" добавить соотвтетствующий файл, затем в одноименной вкладке добавить файл с информацией о заказе.
    </h4>
</body>