
@{
    ViewBag.Title = "InvoicePreparation";
}

<h2>InvoicePreparation</h2>

<div>
    <a href="@Url.RouteUrl("Default", new { controller = "Home", action = "InvoicePreparation"})">Скачать накладную</a>
</div>